<!DOCTYPE html>
<html>
  <head>
    <title><%=data.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>详情</h1>
    <p>标题： <%=data.title %></p>
    <div><%=data.content %></div>
    <div class="reply">
      <h2>回复</h2>
      <div class="reply_con"></div>
    </div>
  </body>
  <script type="text/javascript" src="http://mat1.gtimg.com/libs/jquery/1.12.0/jquery.min.js"></script>
  <script type="text/javascript">
    $.ajax({
      url : '/reply',
      data : {pid:<%=data.id %>},
      dataType : 'json',
      type : 'get'
    }).done(function(result){
      // console.log(result);
      if(result.code==0){
        var html = '';
        result.data.forEach(function(item, index){
          html += '<p>'+(index+1)+'楼： '+item.content+'</p>';
        })
        $('.reply .reply_con').html(html);
      }
    })
  </script>
</html>